<div class="row">
    <h1>lorem</h1>
  <div class="col-md-6 d-flex align-items-center">
    <ngb-accordion [closeOthers]="true" activeIds="static-1" class="w-100">
      <ngb-panel id="static-1" title="Lorem Ipsum">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat 
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2" title="Lorem Ipsum Lorem Ipsum ">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute 
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-3" title=" Lorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid.  
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-md-6">
    <div class="img-preview">
        <img src="assets/img/2.webp" alt="">
    </div>
  </div>
</div>
